@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
 	font-family: Flaticon;
	font-style: normal;
}

.flaticon-play-button:before {
    content: "\f101";
}
.flaticon-straight-quotes:before {
    content: "\f102";
}
.flaticon-blocks-with-angled-cuts:before {
    content: "\f103";
}
.flaticon-home-page:before {
    content: "\f104";
}
.flaticon-dots-menu:before {
    content: "\f105";
}
.flaticon-magnifying-glass:before {
    content: "\f106";
}
.flaticon-angle-arrow-pointing-to-right:before {
    content: "\f107";
}
.flaticon-media-play-symbol:before {
    content: "\f108";
}
.flaticon-quotation-mark:before {
    content: "\f109";
}
.flaticon-right-quotes-symbol:before {
    content: "\f10a";
}
.flaticon-left-quotes-sign:before {
    content: "\f10b";
}
.flaticon-play-arrow:before {
    content: "\f10c";
}
.flaticon-menu-of-three-lines:before {
    content: "\f10d";
}
.flaticon-chat-bubbles-with-ellipsis:before {
    content: "\f10e";
}
.flaticon-arrow-pointing-to-right:before {
    content: "\f10f";
}
.flaticon-telephone:before {
    content: "\f110";
}
.flaticon-big-anchor:before {
    content: "\f111";
}
.flaticon-shopping-bag:before {
    content: "\f112";
}
.flaticon-plus-symbol:before {
    content: "\f113";
}
.flaticon-right-arrow:before {
    content: "\f114";
}
.flaticon-left-arrow:before {
    content: "\f115";
}
.flaticon-houses:before {
    content: "\f116";
}
.flaticon-customer:before {
    content: "\f117";
}
.flaticon-email:before {
    content: "\f118";
}
.flaticon-magnifying-glass-1:before {
    content: "\f119";
}
.flaticon-user:before {
    content: "\f11a";
}
.flaticon-money-bag:before {
    content: "\f11b";
}
.flaticon-tag:before {
    content: "\f11c";
}
.flaticon-garbage:before {
    content: "\f11d";
}
.flaticon-next:before {
    content: "\f11e";
}
.flaticon-placeholder:before {
    content: "\f11f";
}
.flaticon-heart:before {
    content: "\f120";
}
.flaticon-settings:before {
    content: "\f121";
}
.flaticon-like:before {
    content: "\f122";
}
.flaticon-magnifying-glass-2:before {
    content: "\f123";
}
.flaticon-upload:before {
    content: "\f124";
}
.flaticon-avatar:before {
    content: "\f125";
}
.flaticon-back:before {
    content: "\f126";
}
.flaticon-share:before {
    content: "\f127";
}
.flaticon-house:before {
    content: "\f128";
}
.flaticon-cancel:before {
    content: "\f129";
}
.flaticon-chat:before {
    content: "\f12a";
}
.flaticon-headphones:before {
    content: "\f12b";
}
.flaticon-shopping-cart:before {
    content: "\f12c";
}
.flaticon-envelope:before {
    content: "\f12d";
}
.flaticon-menu:before {
    content: "\f12e";
}
.flaticon-menu-1:before {
    content: "\f12f";
}
.flaticon-chat-1:before {
    content: "\f130";
}
.flaticon-multiply:before {
    content: "\f131";
}
.flaticon-search:before {
    content: "\f132";
}
.flaticon-unlink:before {
    content: "\f133";
}
.flaticon-left-quote:before {
    content: "\f134";
}
.flaticon-right-quote:before {
    content: "\f135";
}
.flaticon-wifi:before {
    content: "\f136";
}
.flaticon-paper-plane:before {
    content: "\f137";
}
.flaticon-pdf:before {
    content: "\f138";
}
.flaticon-edit:before {
    content: "\f139";
}
.flaticon-eye:before {
    content: "\f13a";
}
.flaticon-placeholder-1:before {
    content: "\f13b";
}
.flaticon-chat-2:before {
    content: "\f13c";
}
.flaticon-home:before {
    content: "\f13d";
}
.flaticon-play-button-1:before {
    content: "\f13e";
}
.flaticon-megaphone:before {
    content: "\f13f";
}
.flaticon-padlock:before {
    content: "\f140";
}
.flaticon-message:before {
    content: "\f141";
}
.flaticon-down-arrow:before {
    content: "\f142";
}
.flaticon-next-1:before {
    content: "\f143";
}
.flaticon-reverse:before {
    content: "\f144";
}
.flaticon-secure-shield:before {
    content: "\f145";
}
.flaticon-tick:before {
    content: "\f146";
}
.flaticon-maps-and-flags:before {
    content: "\f147";
}
.flaticon-tick-1:before {
    content: "\f148";
}
.flaticon-user-1:before {
    content: "\f149";
}
.flaticon-bar-chart:before {
    content: "\f14a";
}
.flaticon-right:before {
    content: "\f14b";
}
.flaticon-left:before {
    content: "\f14c";
}
.flaticon-call:before {
    content: "\f14d";
}
.flaticon-play-button-2:before {
    content: "\f14e";
}
.flaticon-search-1:before {
    content: "\f14f";
}
.flaticon-call-1:before {
    content: "\f150";
}
.flaticon-hand-shake:before {
    content: "\f151";
}
.flaticon-map:before {
    content: "\f152";
}
.flaticon-eye-1:before {
    content: "\f153";
}
.flaticon-like-1:before {
    content: "\f154";
}
.flaticon-location:before {
    content: "\f155";
}
.flaticon-down-arrow-1:before {
    content: "\f156";
}
.flaticon-up-arrow:before {
    content: "\f157";
}
.flaticon-left-arrow-1:before {
    content: "\f158";
}
.flaticon-right-arrow-1:before {
    content: "\f159";
}
.flaticon-menu-2:before {
    content: "\f15a";
}
.flaticon-list:before {
    content: "\f15b";
}
.flaticon-email-1:before {
    content: "\f15c";
}
.flaticon-next-2:before {
    content: "\f15d";
}
.flaticon-medal:before {
    content: "\f15e";
}
.flaticon-email-2:before {
    content: "\f15f";
}
.flaticon-email-3:before {
    content: "\f160";
}
.flaticon-quote:before {
    content: "\f161";
}
.flaticon-menu-3:before {
    content: "\f162";
}
.flaticon-email-4:before {
    content: "\f163";
}
.flaticon-clock:before {
    content: "\f164";
}
.flaticon-full-screen:before {
    content: "\f165";
}
.flaticon-reply-all:before {
    content: "\f166";
}
.flaticon-megaphone-1:before {
    content: "\f167";
}
.flaticon-car:before {
    content: "\f168";
}
.flaticon-like-2:before {
    content: "\f169";
}
.flaticon-briefcase:before {
    content: "\f16a";
}
.flaticon-link:before {
    content: "\f16b";
}
.flaticon-sketch:before {
    content: "\f16c";
}
.flaticon-placeholder-2:before {
    content: "\f16d";
}
.flaticon-graduation-cap:before {
    content: "\f16e";
}
.flaticon-checked:before {
    content: "\f16f";
}
.flaticon-wall-clock:before {
    content: "\f170";
}
.flaticon-line-chart:before {
    content: "\f171";
}
.flaticon-checked-1:before {
    content: "\f172";
}
.flaticon-quote-1:before {
    content: "\f173";
}
.flaticon-play:before {
    content: "\f174";
}
.flaticon-pdf-1:before {
    content: "\f175";
}
.flaticon-user-2:before {
    content: "\f176";
}
.flaticon-phone-call:before {
    content: "\f177";
}
.flaticon-cancel-1:before {
    content: "\f178";
}
.flaticon-law:before {
    content: "\f179";
}
.flaticon-legal-paper:before {
    content: "\f17a";
}
.flaticon-send:before {
    content: "\f17b";
}
.flaticon-quotation:before {
    content: "\f17c";
}
.flaticon-plus:before {
    content: "\f17d";
}
.flaticon-quote-2:before {
    content: "\f17e";
}
.flaticon-worldwide:before {
    content: "\f17f";
}
.flaticon-heart-1:before {
    content: "\f180";
}
.flaticon-calendar:before {
    content: "\f181";
}
.flaticon-clipboard:before {
    content: "\f182";
}
.flaticon-email-5:before {
    content: "\f183";
}
.flaticon-support:before {
    content: "\f184";
}
.flaticon-map-1:before {
    content: "\f185";
}
.flaticon-left-arrow-2:before {
    content: "\f186";
}
.flaticon-check:before {
    content: "\f187";
}
.flaticon-down-arrow-2:before {
    content: "\f188";
}
.flaticon-time:before {
    content: "\f189";
}
.flaticon-next-3:before {
    content: "\f18a";
}
.flaticon-headphones-1:before {
    content: "\f18b";
}
.flaticon-book:before {
    content: "\f18c";
}
.flaticon-phone:before {
    content: "\f18d";
}
.flaticon-shopping-bag-1:before {
    content: "\f18e";
}
.flaticon-loupe:before {
    content: "\f18f";
}
.flaticon-shield:before {
    content: "\f190";
}
.flaticon-briefcase-1:before {
    content: "\f191";
}
.flaticon-stats:before {
    content: "\f192";
}
.flaticon-faq:before {
    content: "\f193";
}
.flaticon-planet-earth:before {
    content: "\f194";
}
.flaticon-money:before {
    content: "\f195";
}
.flaticon-pin:before {
    content: "\f196";
}
.flaticon-customer-service:before {
    content: "\f197";
}
.flaticon-conversation:before {
    content: "\f198";
}
.flaticon-cellular:before {
    content: "\f199";
}
.flaticon-smartphone:before {
    content: "\f19a";
}
.flaticon-checked-2:before {
    content: "\f19b";
}
.flaticon-email-6:before {
    content: "\f19c";
}
.flaticon-call-2:before {
    content: "\f19d";
}
.flaticon-portfolio:before {
    content: "\f19e";
}
.flaticon-play-button-3:before {
    content: "\f19f";
}
.flaticon-content:before {
    content: "\f1a0";
}
.flaticon-hand:before {
    content: "\f1a1";
}
.flaticon-24-hours:before {
    content: "\f1a2";
}
.flaticon-trophy:before {
    content: "\f1a3";
}
.flaticon-shopping-cart-1:before {
    content: "\f1a4";
}
.flaticon-timetable:before {
    content: "\f1a5";
}
.flaticon-squares:before {
    content: "\f1a6";
}
.flaticon-clock-1:before {
    content: "\f1a7";
}
.flaticon-quotation-1:before {
    content: "\f1a8";
}
.flaticon-comment:before {
    content: "\f1a9";
}
.flaticon-close:before {
    content: "\f1aa";
}
.flaticon-download:before {
    content: "\f1ab";
}
.flaticon-menu-4:before {
    content: "\f1ac";
}
.flaticon-tag-1:before {
    content: "\f1ad";
}
.flaticon-user-3:before {
    content: "\f1ae";
}
.flaticon-quote-3:before {
    content: "\f1af";
}
.flaticon-quote-4:before {
    content: "\f1b0";
}
.flaticon-send-1:before {
    content: "\f1b1";
}
.flaticon-right-arrow-2:before {
    content: "\f1b2";
}
.flaticon-down-arrow-3:before {
    content: "\f1b3";
}
.flaticon-checked-3:before {
    content: "\f1b4";
}
.flaticon-settings-1:before {
    content: "\f1b5";
}
.flaticon-shopping-cart-2:before {
    content: "\f1b6";
}
.flaticon-shopping-bag-2:before {
    content: "\f1b7";
}
.flaticon-graduated:before {
    content: "\f1b8";
}
.flaticon-clock-2:before {
    content: "\f1b9";
}
.flaticon-swimming-pool:before {
    content: "\f1ba";
}
.flaticon-router:before {
    content: "\f1bb";
}
.flaticon-web-search-engine:before {
    content: "\f1bc";
}
.flaticon-smart-tv:before {
    content: "\f1bd";
}
.flaticon-shopping-basket:before {
    content: "\f1be";
}
.flaticon-8k:before {
    content: "\f1bf";
}
.flaticon-check-1:before {
    content: "\f1c0";
}
.flaticon-double-check:before {
    content: "\f1c1";
}
.flaticon-notebook:before {
    content: "\f1c2";
}
.flaticon-darts:before {
    content: "\f1c3";
}
.flaticon-atom:before {
    content: "\f1c4";
}
.flaticon-phone-1:before {
    content: "\f1c5";
}
.flaticon-fast-time:before {
    content: "\f1c6";
}
.flaticon-wifi-router:before {
    content: "\f1c7";
}
.flaticon-menu-5:before {
    content: "\f1c8";
}
.flaticon-mortarboard:before {
    content: "\f1c9";
}
.flaticon-random:before {
    content: "\f1ca";
}
.flaticon-trophy-1:before {
    content: "\f1cb";
}
.flaticon-heart-2:before {
    content: "\f1cc";
}
.flaticon-briefcase-2:before {
    content: "\f1cd";
}
.flaticon-atom-1:before {
    content: "\f1ce";
}
.flaticon-trash:before {
    content: "\f1cf";
}
.flaticon-graduated-1:before {
    content: "\f1d0";
}
.flaticon-pdf-2:before {
    content: "\f1d1";
}
.flaticon-soccer-cup:before {
    content: "\f1d2";
}
.flaticon-placeholder-3:before {
    content: "\f1d3";
}
.flaticon-antenna:before {
    content: "\f1d4";
}
.flaticon-router-1:before {
    content: "\f1d5";
}
.flaticon-handshake:before {
    content: "\f1d6";
}
.flaticon-wireless-connection:before {
    content: "\f1d7";
}
.flaticon-wifi-router-1:before {
    content: "\f1d8";
}
.flaticon-globe:before {
    content: "\f1d9";
}
.flaticon-pencil-and-ruler:before {
    content: "\f1da";
}
.flaticon-location-1:before {
    content: "\f1db";
}
.flaticon-5g:before {
    content: "\f1dc";
}
.flaticon-telephone-1:before {
    content: "\f1dd";
}
.flaticon-random-1:before {
    content: "\f1de";
}
.flaticon-message-1:before {
    content: "\f1df";
}
.flaticon-cellphone:before {
    content: "\f1e0";
}
.flaticon-team:before {
    content: "\f1e1";
}
.flaticon-8k-1:before {
    content: "\f1e2";
}
.flaticon-laptop:before {
    content: "\f1e3";
}
.flaticon-phone-2:before {
    content: "\f1e4";
}
